$bckground-color:  #7897AB;
$blk-color: #000;
$whte-color: #fff;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #064663;
}


/*Navigation Bar*/

.nav-bar{
  background-color: $bckground-color;
  border: 2px solid $blk-color;
}

.logo-container {
  margin-left: 30px;
}

.logo-container .logo {
  text-decoration: none;
  color:$blk-color ;
  font-size: 1.5rem;
  font-weight: bold;
}


/*Home*/
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.To-container{
  background: $bckground-color;
  width: 330px;
  height: 130px;
  margin-top: 11px;
  border-radius: 5px;
  box-shadow: 5px 5px 11px $blk-color;
  line-height: 2;
  text-align: center;

}

.To-container input {
  border-radius: 3px;
  border: none;
  height: 25px;
  width: 65%;
  font-weight: bold;
}


.to-btn{
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
&:hover {
  box-shadow: 5px 5px 10px #333;
  transition: 1000ms;
  background-color: #000;
  color: #fff;
}
}

.red{
  color: $blk-color;
  font-size: 1.2rem;
  margin: 20px 30px;
  padding: 5px 25px 5px 10px;
  background-color: #aaa;
  width:fit-content;
  height: 31px;
  border-radius: 3px;
  border: none;

}

.addto {
  // border: 2px solid #000;
  height: 100vh;
}



/*Footer*/
/*
footer{
  background: #7897AB;
  display: flex;
  align-items:flex-end ;
  margin-top: 30rem;
 
}

.bar {
  border: 2px solid #000;
  margin-left: 10px;
  height:auto;
}

.footer-container {
  display: flex;
  height: 2.2rem;
  margin-left: 30px;
}

.footer-container a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;

}

.footer-container p {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 10px;
  align-items: center;
}*/